<h1> Articles </h1>

<%= link_to 'Create New Article', new_article_path %>

<table>
	<tr>
		<th> Title </th>
		<th> Date </th>
	</tr>
<% @articles.each do |article| %>
	<tr>
		<th> 
		<%= link_to article.title, article_path(article.id) %></th>
		<th> <%= article.updated_at %> </th>
		<th> 
		<%= link_to 'X', article_path(article.id), method: :delete, data:{confirm:"Are You Sure?"} %></th>
	</tr>


<% end %>
</table>